body{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    height:100vh;
    background:whitesmoke;
    font-size: 1.5rem;
    font-family: sans-serif;
}
.textContainer{
    width:90vw;
    height:20vh;
    background:rgb(244, 245, 242);
    box-shadow: 0 0 20px 2px grey;
    border-radius: 0.5rem;
    padding: 1rem;
    outline:none;
    display:flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    
    
    
}
.keyboard{
    width:70vw;
    height:60vh;
    background: rgb(196, 218, 223);
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;


}
.row{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    
    
}
.secondLast{
    width:60%;
    margin:0 auto;


}
.space{
    width:50%;
    height:2rem;
    background:rgb(35, 36, 35)
}
.key{
    padding:0.5rem;
    border-radius:2px;
}
.key:active{
    background:whitesmoke
}
.active{
    background-color: aliceblue;

}
